---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

			<header>
				<div class="header-left">
					<i>
						<img src=".././../public/images/market.png" alt="imagen">
					</i>
					<h3>
						Tu Despenza
					</h3>
				</div>
				<nav>
					<ul>
						<li><a href="">Acerca de Nosotros</a></li>
						<li><a href="">Nuestro objetivo</a></li>
						<li><a href="">Andrew me la pelas</a></li>
					</ul>
				</nav>
			</header>

	</body>
</html>
<style>
	*{
		padding: 0%;
		margin: 0%;
		bottom: 0%;
	}
	body{
		height: 100%;
	}
	ul{
		list-style-type: none;
		overflow: hidden;
	}
	li{
		float: right;
		padding: 20px 10px;
	}
	li a {
		text-decoration: none;
		color: black;
		font-size: 1.5rem;
	}
	.header-left{
		display: flex;
		flex-direction: row;
		justify-content: left	;
		align-items: center;
		padding: 10px;
		width: 50%;
	}
	.header-left img{
		margin-right: 10px;
	}
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0px 40px;
	}
</style>
